.logo {
  font-family: Jura;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: white;
}

.head-info {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #FFFFFF;
}

.head-info :hover {
  font-weight: 700;
}
.nav{
  border-bottom-width: 1px;
}
